<h1>Create a new event</h1>

<%= simple_form_for @event do |f| %>
  <%= f.input :name, label: "Event name" %>
  <%= f.input :description, label: "Description" %>
  <%= f.input :start_date, label: "Start date" %>
  <%= f.input :end_date, label: "End date" %>
  <%= f.input :capacity, label: "Capacity" %>
  <%= f.input :location, label: "Location" %>
  <%= f.input :secret_code, label: "Code secret" %>
  <%= f.button :submit, "Create" %>
<% end %>
